html {
  box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 450px;
  background-color: #000000;
  color: #ffffff;
}

.calc-screen {
  font-size: 2.5rem;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 1.25rem 5px;
}

.calc-button {
  background-color: #d8d9db;
  color: #000;
  height: 100px;
  width: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 2.5rem;
  cursor: pointer;
}

.calc-button:hover {
  background-color: #ebebeb;
}

.calc-button:active {
  background-color: #bbbcbe;
}

.calc-button:last-child {
  background-color: #df974c;
  color: #ffffff;
}

.calc-button:last-child:hover {
  background-color: #dfb07e;
}

.calc-button:last-child:active {
  background-color: #dd8d37;
}

.double {
  /* width: 49.7%; */
  flex: 0 0 49.7%;
}

.triple {
  /* width: 74.8%; */
  flex: 0 0 74.8%;
}

.calc-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}
